.kısım2{
    margin-top: 220px;
    height: auto;
    line-height: 70px;
    color: white;
}

.başlık1{
    font-size: 37px;
    font-family: 'Times New Roman', Times, serif;
}
.başlık2{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    border: none;
    border-radius: 7px;
    background: #fed136;
    padding: 20px 30px;
    color: white !important; 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover{
    background: #bd9711fb;
}

ul li{
    margin: 0 5px;
}

html,
body,
#cover {
    height: 100%;
}

#cover {
    background: url(../img/Arkaplan.jpg) center bottom no-repeat #222;
    
}
.servıceskısmı{
    min-height: 800px;
    margin-top: 100px;
}
.servıcesbaşlık{
    text-align: center;
}
.servıcesbaşlık2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.servıcesemoji{
    float: left;
    width:33.3%;
    margin-top: 50px;
}
.servıcesparagraf{
    font-size: 18px;
    color: #777;
    line-height: 24px;
}
.portfolıo{
    min-height: 1100px;
    background-color: #f7f7f7d7;
}
.portfolıobaslık{
    text-align: center;
}

.portfolıoemojı{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    background: #fff;
}
.portfolıoaltbaslık{
    margin-bottom: 10px;
    text-align: center;
    
}
.about{
    min-height: 900px;
}
.aboutbaslık{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.aboutparagraf{
    text-align: center;  
}
.t-a-l{
    text-align: left;
    padding:0;
}
.t-a-l2{
    text-align: left;
    padding:0;
    margin-top: 50px;
    
}
.t-a-r{
    text-align: right;
    padding: 3px;
    margin-top: 50px;
}
.aboutacıklamalar{
    margin-top: 80px;
}
.ımgabout{
    border: 7px #f1f1f1 solid;
    border-radius: 50%;
    
}
.aboutaltparagrafsag{
    color: #777;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 11px;
    line-height: 23px;
}
.aboutaltparagrafsol{
    color: #777;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:11px;
    line-height: 23px;
}
.about-so-a{
    margin-top: 55px;

}
.about-s-a{
    margin-top:55px;
}
.ourstoryimg{ margin:55px auto;
    max-width: 210px;
   
}
.team{
    min-height: 900px;
    background: #f7f7f7d7;
}
.teamkısmı{
    text-align: center;
}
.teambaslık{
    padding-top: 90px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.teambaslık2{
    color: #777;
    font-size: 16px;
    
}
.teamimg{
    border-radius: 50%;
    

}
.teamicon2{
    float: left;
            border: 0px solid black;
            height: 40px;
            width: 40px;
            margin-left: 8px;
            border-radius: 35px;
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 0;
            margin-right: 10px;
            background-color: black;
}
.teamicon2:hover{
    background-color: #fed136;
    cursor: pointer;
}
.iconnn{
    color: white;
    margin-top: 12px;
    margin-left: 2px;
    
}
.iconyerlestirme{
    margin-left: 60px;
}
.teamaltbaslık1{
    text-align: center;
    margin-top: 25px;
}
.teamaltbaslık2{
    text-align: center;
}
.teamfotografkısmı{
    margin-top: 70px;
}
.teamsonkısım{
    margin-top: 50px;
    color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.reklamkısmı{
    min-height: 125px;
}
.reklamyerlestirme{
   
    margin-top: 65px;
}
.contacts{
    min-height: 900px;
    background: url(../img/contacts2.jpg) center bottom no-repeat #222;

}
.contactsbaslık{
   text-align: center;
   color: white;
   font-size: 45px;
   padding-top: 120px;

}
.contactsparagraf{
    text-align: center;
   color:white;
}
.textarea{
    padding-top: 0;
    max-width: 420px;
}
.iletisim{
    max-width: 420px;
    margin-left: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777;
}
.iletisimformu{
    margin-top: 100px;
}
.iletisimbuton{
    padding: 16px 40px;
    color: azure;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.sayfasonkısım{
   min-height: 180px;
   

}
.sayfabitis{
    list-style: none;
    float: left;
}
.copyright{
    margin-top: 90px;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;

}
.iconbitis{
    margin-top: 70px;
}
.sonkısımuyarı{
    margin-top: 80px;
    color: #fed136;
    cursor: pointer;
}

.sayfabitis2:hover{
    text-decoration: underline;
}
.navbar-light .navbar-nav .active .nav-link{
    color: white;
    margin-top: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

    .navbar-light .navbar-nav .active .nav-link:hover{
        color: #fed136;
    }
.goldenyazı{
    margin-top: 35px;
    margin-left: 40px;
}
.sticky{
    position: fixed;
    background:rgba(0,7,0,.8);
    z-index: 999;
    
}
    